.container {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
}

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 
}

.heading {
font-family: 'Playfair Display';
font-style: normal;
font-weight: 900;
color: #302F3C;
font-size: 4.20rem;
}

.redText {
    color: #f54748;
}


.subheading {

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #302F3C;


}

.buttonOrder {
    cursor: pointer;
    padding: 1rem 1.5rem;
    background: #f54748;
    border-radius: 19px;
    border: white;
    color: white;
    font-weight: 600;
    margin-right: 2rem;
}

.buttonHowTo {
    cursor: pointer;
    padding: 1rem 1.5rem;
    background: #FAFAFA;
    border-radius: 19px;
    border: black;
    color:black;
    font-weight: 600;
    text-decoration: underline;
}


.buttonContainerPicture {
    display: flex;
    flex-direction: column;
   
   
}

.image {
    width: 100%;
    height: auto;
    margin-left: -1.5rem;
}