.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.subheading {
  color: #f54748;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  margin: 10px;
}

.heading {
  font-size: 45px;
  font-family: "Inter";
  font-weight: 600;
  margin: 10px;

}


